.rtl {
  .s-sidebar__nav-link em {
    right: 4em!important;
  }

  .s-sidebar__nav-link > i {
    right: -15px!important;
  }

  .s-sidebar__nav-link > i::before {
    right: 50%!important;
  }

  h1.example-app-name {
    margin-left: 8px!important;
  }
  .header {
    margin-right: 2em!important;
  }
  .znu-card {
    float: left;
    margin-left: 5em!important;
    h4 {
      font-family: iran!important;
    }
  }
  .notif-icon {
    margin-right: 1em!important;
  }
  ::ng-deep
    .mat-badge-medium.mat-badge-overlap.mat-badge-after
    .mat-badge-content {
    left: 20px !important;
  }
  .selector{
    text-align: right!important;
  }
}

  .s-sidebar__nav-link em {
    left: 4em;
  }

  .s-sidebar__nav-link > i {
    left: 15px;
  }

  .s-sidebar__nav-link > i::before {
    left: 50%;
  }
  
  .znu-card {
    float: right;
    margin-right: 4em;
    h4 {
      font-family: iran;
    }
  }
  .notif-icon {
    margin-left: 1em;
  }
  ::ng-deep
    .mat-badge-medium.mat-badge-overlap.mat-badge-after
    .mat-badge-content {
    left: 20px !important;
    top:-1px!important
  }
  .selector{
    text-align: left;
  }


.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

mat-sidenav {
  width: 25em;
}

.s-sidebar__nav ul {
  margin: auto;
  list-style-type: none;
  padding: 0;
  width: 22em;
  max-height: calc(100vh - 8rem);
  // overflow-y: auto;
}

.s-sidebar__nav ul li {
  width: 100%;
  color: var(--foreground-default);
}

.s-sidebar__nav-link {
  position: relative;
  width: 80%;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  height: 3em;
  margin: 1em auto;
  display: block;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1) !important;
  border-radius: 25px;
  background-color: var(--background-ul-li);
}

.s-sidebar__nav-link em {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}

.s-sidebar__nav-link > i {
  position: absolute;
  top: 0;
  font-size: 24px;

  display: inline-block;
  width: 3em;
  height: 3em;
  color: #9e9e9e;
}

.s-sidebar__nav-link > i::before {
  position: absolute;
  top: 35%;
  transform: translate(-50%, -50%);
}

.s-sidebar__nav-link:hover {
  cursor: pointer;
  background: var(--background-ul-hover);
  width: 90%;
  transition: all 0.2s ease-in;
  box-shadow: 0 0.21rem 0.5rem rgba(0, 0, 0, 0.3) !important;

}

.s-sidebar__nav hr {
  margin-top: 6rem;
  margin-right: 2em;
  margin-left: 2em;
  border: 0;
  /* color: white; */
  background: gray;
  border-top: 1px solid rgb(255 255 255 / 40%);
}

::ng-deep .mat-toolbar-row,
.mat-toolbar-single-row {
  height: 85px;
}

::ng-deep .mat-toolbar.mat-primary {
  background: var(--background-tertiary);
  color: #fff;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.header {
  padding: 1%;
  .clock-card {
    line-height: 1em;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label,
  ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: var(--foreground-quaternary) !important;
  }
  ::ng-deep ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--foreground-quaternary) !important;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0.5em 1.5em 0 0.75em !important;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0.25em 0 0.5em 0;
  }

  ::ng-deep .mat-form-field-flex {
    background: var(--background-tertiary) !important;
  }
  ::ng-deep .mat-option.mat-active {
    color: var(--foreground-quaternary) !important;
  }
  ::ng-deep .mat-form-field{
    text-align: center;
  }
}

.logo {
  width: 50%;
  display: block;
  margin: auto;
  margin-bottom: 2em;
  max-width: 185px;
  min-width: 70px;
}
i {
  color: #ff9a00;
}


.dark-mode {
  padding: 0.4em 0;

  ::ng-deep .mat-slide-toggle-bar {
    background: peachpuff;
  }
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #ff9800;
  }
}

.mobile-logo {
  z-index: 159;
  color: white;
  position: absolute;
  visibility: hidden;
  display: none;
}

.znu-card {
  color: var(--foreground-white) !important;
  background: var(--background-tertiary);
  border-radius: 5px;
  text-align: center;
  padding: 1em;
  width: 10em;
  h4 {
    line-height: 3em;
  }
}

.notif-icon {
  position: absolute;
  top: 1.5em;
}
::ng-deep
  .mat-badge-medium.mat-badge-overlap.mat-badge-after
  .mat-badge-content {
  background-color: #ff0000;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ico{
  font-size: 20px;
}

#menu{
  display: inline-flex;
  margin: 0;
  height: 100%;

  transform: translateY(30%);
}

#menu li {
  display:inline;
}

 ::ng-deep .cdk-overlay-pane .mat-menu-panel{
  min-width: 60px!important;
}

.menu-toggle{
  font-size: 20px;
}