::ng-deep #container-line .highcharts-background{
  fill: var(--background-tertiary)!important;
}
::ng-deep   #container-line .highcharts-plot-background{
  fill: var(--background-tertiary)!important;
}

::ng-deep #container-line .highcharts-title{
  fill: var(--foreground-white)!important;
}
  
  #container-line {
    height: 450px;
  }
 
  