.place-status-btn{
    float: left;
    width: 40px;
    height: 40px;
}
.pomp-status-card{
    background: var(--background-default);
    padding: 10%;
    border-radius: 5px;
    height: 100%;
}

.status-off{
  background-color: gray;
}

.status-on{
  background-color: #5DFDCB;
}

.status-fail {
  background-color: #EF3E36;
}
