.title-three{
    position: absolute;
    top: 30%;
    right: 30%;
    text-align: center;
    color: var(--foreground-default);
    h5{
        font-size: 2.5vw;
    }
}
.temp-desc{
    color:var(--foreground-default);
}