::ng-deep #column-rotated .highcharts-background{
    fill: var(--background-tertiary)!important;
  }
  ::ng-deep   #column-rotated .highcharts-plot-background{
    fill: var(--background-tertiary)!important;
  }
  ::ng-deep  .highcharts-axis-labels text, ::ng-deep .highcharts-yaxis-labels text{
    color: var(--foreground-white)!important;
    fill: var(--foreground-white)!important;
    
} 


::ng-deep .highcharts-title tspan{
    color: var(--foreground-white)!important;
    fill: var(--foreground-white)!important;
}
::ng-deep .highcharts-credits{
    display: none;
}