<!-- <section>
    <div class="container">
        <div class="s-main my-4">
            <div class="part-one">
                <div class="w-card p-4">
                    <div class="part-title">
                        <h2>Title</h2>
                        <div class="">
                            <h4>Basic mat-select</h4>
                            <mat-form-field appearance="fill">
                            <mat-label>Favorite food</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let food of times" [value]="food.value">
                                {{food.viewValue}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->