<app-loading *ngIf="loading"></app-loading>
<div class="main">
  <mat-card class="container">
    <div class="login-container">
      <div class="">
        <div class="logo-container text-right">
          <a class="">
            <img class="logo img-responsive" src="../../../assets/img/logo.png"/>
          </a>
        </div>
        <!-- <div class="logo-container text-left">
          <a class="">
            <img class="img-responsive znu-logo" src="../../../assets/img/zan.png"/>
          </a>
        </div> -->
      </div>
      <div class="">
        <div class="form-container">

          <!-- title -->
          <div class="form-title text-center my-4">
            <h2 class="text"> ورود به سامانه </h2>
          </div>
          <!-- form body -->
          <div class="form-content pt-4">
            <div class="form">
              <form [formGroup]="userInfo">

                <div class="form-input  mx-2">
                  <i class="fa fa-lock icons"></i>
                  <input dir="ltr" formControlName="username" pattern="[a-zA-Z0-9-]+" minlength="4" maxlength="16"
                  matTooltip="تنها حروف و اعداد مجاز می باشند" matTooltipPosition="right"
                   class="rounded-pill text-center" type="text" placeholder="نام کاربری"/>
                </div>

                <div class="form-input my-4 mx-2">
                  <i class="fa fa-key icons"></i>
                  <input dir="ltr" formControlName="password" pattern="[a-zA-Z0-9-]+" minlength="4" maxlength="16"
                  matTooltip="تنها حروف و اعداد مجاز می باشند" matTooltipPosition="right"
                  class="rounded-pill text-center" type="password" placeholder="رمزعبور"/>
                </div>

                <div class="check-box-container text-right my-2 mr-4">
                    <mat-checkbox formControlName="autoLogin" class="example-margin text">مرا بخاطر بسپار</mat-checkbox>
                </div>
                <div class="form-action mx-2">
                  <button mat-button class="login-btn rounded-pill" (click)="login()"> ورود </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
