<div class="loading" *ngIf="loading">
    <div class="loader loader--style5">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="44px" height="60px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <rect x="0" y="0" width="4" height="10" fill="#FF9A00">
          <animateTransform attributeType="xml"
            attributeName="transform" type="translate"
            values="0 0; 0 20; 0 0"
            begin="0" dur="0.6s" repeatCount="indefinite" />
        </rect>
        <rect x="10" y="0" width="4" height="10" fill="#FF9A00">
          <animateTransform attributeType="xml"
            attributeName="transform" type="translate"
            values="0 0; 0 20; 0 0"
            begin="0.2s" dur="0.6s" repeatCount="indefinite" />
        </rect>
        <rect x="20" y="0" width="4" height="10" fill="#FF9A00">
          <animateTransform attributeType="xml"
            attributeName="transform" type="translate"
            values="0 0; 0 20; 0 0"
            begin="0.4s" dur="0.6s" repeatCount="indefinite" />
        </rect>
      </svg>
    </div>
  </div>
<div class="s-layout">
    <!-- Sidebar -->
    <div class="s-layout__sidebar">
        <div class="logo-back">
            <h3 class="mobile-logo">دانشگاه زنجان</h3>
        </div>
            <a class="s-sidebar__trigger">
                <i class="fa fa-bars"></i>
            </a>
        


    <nav class="s-sidebar__nav">
        <div class="dark-mode">
                <mat-slide-toggle checked="checked" (click)="toggleTheme()">
                    <i class="fa fa-moon"></i>
                </mat-slide-toggle>
        </div>
        
        <ul>
            <li>
                <div class="logo-container">
                    <a class="">
                      <img class="logo img-responsive" src="../../../assets/img/logo.png"/>
                    </a>
                  </div>
            </li>
            <li>
            <a class="s-sidebar__nav-link" [routerLink]="['home']">
                <i class="fa fa-home"></i>خانه
            </a>
            </li>
            <li>
            <a class="s-sidebar__nav-link" [routerLink]="['users']">
                <i class="fa fa-users"></i>کاربران
            </a>
            </li>
            <!-- <li>
            <a class="s-sidebar__nav-link" [routerLink]="['calendar']">
                <i class="fa fa-calendar-week"></i>برنامه هفتگی
            </a>
            </li> -->
            <li>
            <a class="s-sidebar__nav-link cursor-pointer" [routerLink]="['charts']">
                <i class="fa fa-chart-pie"></i>نمودار ها
            </a>
            </li>
            <hr/>
            <li >
                <a class="s-sidebar__nav-link" (click)="logout()" >
                <i class="fa fa-power-off"></i>خروج
                </a>
            </li>

        </ul>
    </nav>
    </div>
    <!-- Content -->
    <main class="s-layout__content d-block">
        <div class="header">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 text-right">
                    <mat-form-field class="home-selector" appearance="fill">
                        <mat-label>خوابگاه</mat-label>
                        <mat-select [(value)]="selected">
                            <mat-option [value]="option.value" *ngFor="let option of allHouses">{{ option.viewValue }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="clock-card">
                        <app-clock></app-clock>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 ">

                        <div class="znu-card">
                            <h5> دانشگاه زنجان </h5>
                        </div>
               
                </div>
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>