a {
   text-decoration: none;
   color: inherit;
 } 
 /* Layout */
 .s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-default);
 }
 
 .s-layout__content {
    width: 100%;
 }

 .header{
   padding: 0 3em;
   ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: var(--background-tertiary);
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label ,::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
   color: var(--foreground-quaternary)!important;
}
::ng-deep ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple{
   background-color: var(--foreground-quaternary)!important;;
}

 }
 ::ng-deep .mat-option.mat-active
 {
    color: var(--foreground-quaternary)!important;
 }

.znu-card{
   color: var(--foreground-white)!important;
   background: var(--background-tertiary);
   border-radius: 5px;
   // box-shadow: 0 0.22rem 0.8rem rgba(0, 0, 0, 0.2) !important;
    text-align: center;
    padding: 1em;
    width: 15em;
    float: left;
    h5{
       line-height: 2em;
    }
}
.header{
   background: var(--background-tertiary);
   border-radius: 25px;
   box-shadow: 0 0.22rem 0.8rem rgba(0, 0, 0, 0.2) !important;
   padding: 1%;
   margin-bottom: 1%;
   .clock-card{
      line-height: 5em;
   }
}

 .content{
   background: var(--background-secondary);
   border-radius: 25px;
   box-shadow: 0 0.22rem 0.8rem rgba(0, 0, 0, 0.2) !important;
   padding: 2em;
 }
 
 /* Sidebar */
 .s-sidebar__trigger {
    z-index: 2;
    position: fixed;
    top: 1.4em;
    right: 1em;
    width: 3em;
    height: 3em;
    background: var(--background-secondary);
    border-radius: 25px;
    box-shadow: 0 0.22rem 0.8rem rgba(0, 0, 0, 0.2) !important;
 }
 
 .s-sidebar__trigger > i {
    display: inline-block;
    margin: 1em 0 0 1em;
    color: var(--foreground-quaternary);
 }
 
 .s-sidebar__nav {
    z-index: 200;
    position: fixed;
    right: -24em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 22em;
    background: var(--background-tertiary);
    color: rgba(255, 255, 255, 0.7);
    height: 95%;
    min-height: 45em;
    margin: 0 1em;
    box-shadow: 0 .22rem .8rem rgba(0,0,0,0.3)!important;
    top: 2%;
    border-radius: 25px;
    -ms-transform: translateY(-50%);
 }
 
 .s-sidebar__nav:hover,
 .s-sidebar__nav:focus,
 .s-sidebar__trigger:focus + .s-sidebar__nav,
 .s-sidebar__trigger:hover + .s-sidebar__nav {
    right: 0;
 }
 
 .s-sidebar__nav ul {
    position: absolute;
    top: 4em;
    right: 0;
    margin: 0;
    padding: 0;
    width: 22em;
    max-height: calc(100vh - 8rem);
    overflow-y: auto;
 }
 
 .s-sidebar__nav ul li {
    width: 100%;
    color: var(--foreground-default);
 }
 
 .s-sidebar__nav-link {
    position: relative;
    width: 80%;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    height: 3em;
    margin: 1em auto;
    display: block;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1) !important;
    border-radius: 25px;
    background-color: var(--background-ul-li);
 }
 
 .s-sidebar__nav-link em {
    position: absolute;
    top: 50%;
    right: 4em;
    transform: translateY(-50%);
 }
 
 .s-sidebar__nav-link:hover {
   cursor: pointer;
    background: var(--background-ul-hover);
    width: 90%;
    transition: all .2s ease-in;
    box-shadow: 0 0.21rem 0.5rem rgba(0, 0, 0, 0.3) !important;
    i{
        color: #FF9A00;
        // font-size: 18px;
    }
 }
 
 .s-sidebar__nav-link > i {
   position: absolute;
   top: 0;
   font-size: 24px;
   right: -15px;
   display: inline-block;
   width: 3em;
   height: 3em;
    color: #9E9E9E;
 }
 
 .s-sidebar__nav-link > i::before {
    position: absolute;
    top: 35%;
    right: 50%;
    transform: translate(-50%, -50%);
 }
//  
 
 /* Mobile First */
 @media (min-width: 48em) {
    .s-layout__content {
      margin-right: 1em;
      margin-left: 1em;
    }
    
    /* Sidebar */
    .s-sidebar__trigger {
       width: 3em;
    }
    
    .s-sidebar__nav {
      //  width: 4em;
       right: -24em;
    }
    
    .s-sidebar__nav:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:hover + .s-sidebar__nav,
    .s-sidebar__trigger:focus + .s-sidebar__nav {
       width: 22em;
    }
 }
 
 @media (min-width: 88em) {
    .s-layout__content {
       margin-right: 24em;
       margin-bottom: 4em;
       margin-top: 1em;
       margin-left: 1em;
    }

    
    /* Sidebar */
    .s-sidebar__trigger {
       display: none
    }
    
    .s-sidebar__nav {
       width: 22em;
       right: 0;
    }
    
    .s-sidebar__nav ul {
       top: 5.5em;
       overflow-y: unset;
    }
 }
 
 .s-sidebar__nav hr{
    margin-top: 10rem;
    margin-bottom: 6rem;
    margin-right: 2em;
    margin-left: 2em;
    border: 0;
    /* color: white; */
    background: gray;
    border-top: 1px solid rgb(255 255 255 / 40%);
 }

   .logo  {
    width: 50%;
    display: block;
    margin:auto;
    margin-bottom: 2em;
    max-width: 185px;
    min-width: 70px;
  }

  .dark-mode{
      padding: 1.5em;
      i{
          color: #FF9A00;;
      }
      ::ng-deep .mat-slide-toggle-bar{
         background: peachpuff;
      }
      ::ng-deep  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
         background-color: #FF9800;
     }
  }


  .mobile-logo{
      z-index: 159;
      color: white;
      position: absolute;
     visibility: hidden;
     display: none;
  }

  