.places-form{
    width: 50rem;
    padding: 5%;
}

h2{
  font-family: iran!important;
}
.add-btn {
    height: 50px;
    width: 180px;
    border: none;
    background-color: var(--foreground-quaternary) !important;
    color: #fff;
    font-size: 18px;
    outline: none;
    line-height: normal;
  }

  .cancel-btn{
    height: 50px;
    width: 180px;
    border: none;
    color: #fff;
    font-size: 18px;
    outline: none;
    line-height: normal;
  }