<div [class.rtl]="('dir' | translate) === 'rtl'">
  <div class="row text-align">
    <div class="col-7">
      <div class="title px-2 mt-4">
        <h1 class="">
          45<small dir="rtl" class="mx-2" style="font-size: 14px">(°C)</small>
        </h1>
      </div>
      <div class="desc px-2 mt-2">
        <p>{{ "Dashboard.WidgetThree.Desc" | translate }}</p>
      </div>
    </div>
  
    <div class="col-5">
      <figure class="highcharts-figure polar">
        <div id="container-two"></div>
      </figure>
      <div class="title-two title-w-temp">
        <i class="fa fa-fire w-icon3"></i>
      </div>
    </div>
  </div>
</div>

