.title-two{
    z-index: 100;
    position: absolute;
    top: 25%;
    right: 37%;
    text-align: center;
    color: var(--foreground-default);
    h5{
        font-size: 3vw;
    }
}

.temp-desc{
    color:var(--foreground-default);
}