<div class="places-form " dir="rtl">
    <h2 class="mb-2 px-4 text-center">افزودن تجهیزات</h2>
    <mat-dialog-content class="py-4 text-right container">
        <form [formGroup]="eqForm">
            <mat-form-field class="full-width">
                <mat-label> نام تجهیز </mat-label>
                <input matInput autocomplete="off" class="" formControlName="eqName" maxlength="46" type="text"
                    placeholder="" />
            </mat-form-field>

            <mat-form-field dir="rtl" class="text-right full-width mt-3" appearance="fill">
                <mat-label>انتخاب سنسور مربوطه</mat-label>
                <mat-select
                  formControlName="sensorId"
                >
                <mat-option></mat-option>
                  <mat-option [value]="option.value" *ngFor="let option of sensors">{{
                    option.key
                  }}</mat-option>
                </mat-select>
              </mat-form-field>


        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="px-4 ">
        <button mat-button class="cancel-btn" mat-dialog-close>
            بازگشت
        </button>
        <button mat-button [mat-dialog-close]="true" class="add-btn" cdkFocusInitial>
            <strong>افزودن</strong>
        </button>
    </mat-dialog-actions>
</div>