<div class="dasboard">
  <div class="main-container">
    <div class="header-widgets">
      <div class="p-2">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 w0">
            <div class="card status-card p-4 text-center">
              <div class="title">
                <h5>وضعیت دیگ ها</h5>
              </div>
              <div class="power-btn my-2">
                <button class="power"><i class="fa fa-power-off"></i></button>
              </div>
              <div class="desc mt-3 mb-2">
                <p>روشن</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 widget w1">
            <div>
              <app-temp-one [wtemp_one]="wtemp_one"></app-temp-one>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 widget w2">
            <div>
              <app-temp-two [wtemp_two]="wtemp_two"></app-temp-two>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 widget w3">
            <div>
              <app-temp-three [wtemp_three]="wtemp_three"></app-temp-three>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="live-chart">
      <div class="p-2">
        <!-- <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 mb-4">
                        <div class="card p-2">
                            <div class="title text-right pt-4">
                                <h5 class="text-center"> دمای لوله ها و مخزن </h5>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-4 col-sm-4 temp temp-raft">
                                    <app-solid-gauge></app-solid-gauge>
                                </div>
                                <div class="col-lg-12 col-md-4 col-sm-4 temp temp-bargasht">
                                    <app-solid-gauge-two></app-solid-gauge-two>
                                </div>
                                <div class="col-lg-12 col-md-4 col-sm-4 temp temp-makhzan">
                                    <app-solid-gauge-three></app-solid-gauge-three>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
                    </div>
                </div> -->
        <div class="px-3">
            <div class="card">
                <div class="chart-one p-4">
                  <div class="title text-right p-2">
                    <h5 class="px-4 pt-4 pb-2">دمای داخل و بیرون ساختمان</h5>
                  </div>
                  <div class="chart text-center px-4 py-2">
                    <app-chartjs-area></app-chartjs-area>
                  </div>
                </div>
              </div>
        </div>
        <div class="my-2">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <div class="card p-2">
                <div class="title text-right pt-4">
                  <h5 class="text-center">دمای لوله ها و مخزن</h5>
                </div>
                <!-- <div class="row"> -->
                  <div class=" temp temp-raft">
                    <app-solid-gauge></app-solid-gauge>
                  </div>
                  <div class=" temp temp-bargasht">
                    <app-solid-gauge-two></app-solid-gauge-two>
                  </div>
                  <!-- <div class="col-lg-12 col-md-4 col-sm-4 temp temp-makhzan">
                                          <app-solid-gauge-three></app-solid-gauge-three>
                                      </div> -->
                <!-- </div> -->
              </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12 mb-4">
              <div class="chart-two card">
                <div class="title text-right p-2">
                  <h5 class="px-4 py-2">میزان کربن منواکسید</h5>
                </div>
                <div class="chart text-center px-4 py-2">
                  <app-line-chart></app-line-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
