<!--  -->
<!-- <app-loading *ngIf="loading"></app-loading> -->

<div [class.rtl]="('dir' | translate) === 'rtl'">
  <div class="dasboard">
    <div class="main-container">
      <div class="dashboar-header">
        <app-dashboard-header></app-dashboard-header>
      </div>

      <div class="dashboard-widgets">
        <app-dashboard-status-bar></app-dashboard-status-bar>
      </div>

      <div class="header-widgets">
        <app-dashboard-boyler-charts></app-dashboard-boyler-charts>
      </div>

      <div class="live-chart">
        <div class="my-2">
          <div class="">
            <div class="row">
              <div class="col-lg-3 col-md-12 col-sm-12 mb-4">
                <div class="card">
                  <div class="title text-align pt-4 pr-2">
                    <h5 class="text-align mx-4 mt-2">
                      {{ "Dashboard.Charts.ChartOne.Title" | translate }}
                      (°C)
                    </h5>
                  </div>
                  <div class="p-4">
                    <app-weather></app-weather>
                    <app-humidity-chart [changed]="changed"></app-humidity-chart>
                  </div>

                </div>
              </div>
              <div class="col-lg-9 col-md-12 col-sm-12 mb-4">
                <div class="card">
                  <div class="chart-one p-4">
                    <div class="title text-align p-2">
                      <h5 class="mx-2 pb-2">
                        {{ "Dashboard.Charts.ChartTwo.Title" | translate }}
                        (°C)
                      </h5>
                    </div>
                    <div class="chart text-center px-4 py-2">
                      <app-chartjs-area [changed]="changed"></app-chartjs-area>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
            <div class="chart-two card">
              <div class="title text-align p-2">
                <h5 class="px-4 py-4">
                  {{ "Dashboard.Charts.ChartThree.Title" | translate }}
                </h5>
              </div>
              <div class="chart text-center px-4 py-2">
                <app-line-chart [changed]="changed"></app-line-chart>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
            <div class="w-card ">
              <app-pomps-status></app-pomps-status>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>