.title,.power{
    color: var(--foreground-white);
}
.desc{
    color: var(--foreground-white);
}
.card{
    border-radius: 25px;
    border: 2px solid rgba(252, 174, 7, 0.2);
    height: 100%;
    background-color: var(--background-tertiary);
}
.status-card {
    height: 95%;
}
.power{
    box-shadow: 0px 0px 5px 0px rgb(19 255 3), 0px 0px 1px 0px rgb(49 246 13), 0px 0px 1px 0px rgb(7 248 3);
    width: 7rem;
    height: 7rem;
    border: 3px solid green;
    border-radius: 50%;
    background-color: var(--background-tertiary);
    outline: none;

}